@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('bg.jpg');
    background-position: center;
    color: white;
}

.content>h1 {
    margin-bottom: 20px;
}

.content {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(14px);
    max-width: 400px;
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.content h1 {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}

.inputs {
    margin-top: 12px;
}

.inputs input {
    width: 90%;
    border: none;
    border-radius: 9999px;
    padding: 12px;
    margin: 12px 12px;
    background: transparent;
    color: white;
    font-weight: 600;
    border: 1px solid white;
}

.inputs input::placeholder {
    color: white;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.buttons button {
    width: 100%;
    border: none;
    border-radius: 9999px;
    padding: 12px;
    margin-top: 24px;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #eaeaea;
}

.forgot-link {
    text-decoration: none;
    color: white;
}

.forgot-link:hover {
    text-decoration: underline;
}